<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="TurnstileSiteKey"
         value="REPLACE_TURNSTILE_SITE_KEY"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)" />
    <add key="TurnstileSecretKey"
         value="REPLACE_TURNSTILE_SECRET_KEY"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)" />
    <add key="OtpHmacSecret"
         value="REPLACE_WITH_AT_LEAST_32_RANDOM_CHARACTERS"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)" />
    <add key="SmtpHost"
         value="REPLACE_SMTP_HOST"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)" />
    <add key="SmtpPort"
         value="587"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)" />
    <add key="SmtpEnableSsl"
         value="true"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)" />
    <add key="SmtpUsername"
         value="REPLACE_SMTP_USERNAME"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)" />
    <add key="SmtpPassword"
         value="REPLACE_SMTP_PASSWORD"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)" />
    <add key="EmailFromAddress"
         value="REPLACE_EMAIL_FROM_ADDRESS"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation debug="false" xdt:Transform="SetAttributes" />
    <customErrors mode="On" xdt:Transform="SetAttributes" />
    <httpCookies requireSSL="true" xdt:Transform="SetAttributes" />
    <authentication>
      <forms requireSSL="true" xdt:Transform="SetAttributes" />
    </authentication>
  </system.web>
</configuration>
